@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Raleway:wght@500&display=swap');

* {
  text-align: center;
  font-family: 'karla', sans-serif
}

header {
  font-size: 40px;
  color: whitesmoke;
}

body{
  background: -webkit-linear-gradient(rgb(2, 74, 2), rgb(34, 31, 31));
  
}

.calculator {
  width: 250px;
  height: 400px;
  outline: none;
  border: none;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
#display {
  width: 325px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border: none;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
  background-color: black;

  font-size: 40px;
  left: 2px;
  top: 2px;
  color: gold;
}

.btnTop {
  background-color: white; 
  color: black; 
  width: 65px;
  height: 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  overflow: hidden;
  font-size: 24px;
}

.btnTop:hover {
  background-color: gold;
  color: white;
}

.btnNum {
  background-color: white; 
  color: black; 
  width: 65px;
  height: 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  overflow: hidden;
  font-size: 24px;
}

.btnNum:hover {
  background-color: purple;
  color: white;
}


.btnMath {
  background-color: white; 
  color: black;
  width: 65px;
  height: 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  overflow: hidden;
  font-size: 24px;
}

.btnMath:hover {
  background-color: red;
  color: white;
}



.btnOpps {
  background-color: white; 
  color: black; 
  width: 65px;
  height: 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  border: none;
  font-size: 24px;
}

.btnOpps:hover {
  background-color: #4CAF50;
  color: white;
}


